// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Formsy Colors
$dark-blue: #4a5568;
$light-blue: #718096;
$formsy-dark: #0f2137;
$formsy-purple: #5f6fd7;
$formsy-purple-alt: #747bd4;

$light-grey: #e2e8f0;

// Defaults colors.
$black: #000000;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
